<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">Home</a><br>
Add Employees Page | <a href="/employees">With</a>
<form action="/employees/add" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="text" name="phoneNumber" placeholder="phoneNumber"><br>
    <input type="number" name="salary" placeholder="salary"><br>
    <input type="text" name="position" placeholder="position"><br>
    Companies: <select name="company.id">
        <option th:each="company: ${companys}" th:text="${company.name}" th:value="${company.id}"></option>
    </select>
    <input type="submit" value="Add">
</form>
</body>
</html>