<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Companies </h1>
<a href="/">Home</a><br>
Company Page|<a href="/addCompanies">Add companies</a>

<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>size</th>
        <th>address</th>
        <th>delete</th>
    </tr>
    <tr th:each="company : ${companies}">
        <td th:text="${company.getId()}"></td>
        <td th:text="${company.name}"></td>
        <td th:text="${company.size}"></td>
        <td th:text="${company.address}"></td>
       <td><a th:href="@{'/deleteCompany'(id=${company.id})}" href="#">delete</a></td>
    </tr>
</table>

</body>
</html>