<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">Home</a><br>
Employee Page | <a href="/employees/add">Add Employee</a>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phone Number</th>
        <th>salary</th>
        <th>position</th>
        <th>company </th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td><a th:href="@{/employees.html/{id}(id=${employee.id})}"href="#"><span th:text="${employee.id}">id</span></a></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.company.name}"></td>
    </tr>
</table>
</body>
</html>